body {
  background-color: hsl(216, 15%, 48%);
  font-size: 15px;
  font-family: Outfit;
}

.qr-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.qr-box {
  width: 300px;
  text-align: center;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
}

.qr-image {
  width: 270px;
  margin: 0 auto;
  border-radius: 15px;
  margin: 20px 0 20px 0px;
}

.qr-h1 {
  max-width: 250px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

.qr-p {
  max-width: 250px;
  margin: 15px auto 30px;
  font-weight: 400;
  color: hsl(212, 45%, 89%);
}