@use "sass:map";

@mixin apply-typography($preset) {
  font-family: map.get($preset, font-family);
  font-size: map.get($preset, font-size);
  font-weight: map.get($preset, font-weight);
  line-height: map.get($preset, line-height);
  letter-spacing: map.get($preset, letter-spacing);
}
